{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "jest": true
    // "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.eslint.json",
    "createDefaultProgram": true, // Required for linting to work even on the test folder
    "ecmaFeatures": {
      "globalReturn": true
      // jsx: true
    },
    "sourceType": "module"
  },
  "extends": "standard-with-typescript",
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-tsdoc"
  ],
  "rules": {
    "tsdoc/syntax": "error",
    "no-void": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-confusing-void-expression": ["error", {
      "ignoreArrowShorthand": true,
      "ignoreVoidOperator": true
    }],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/consistent-type-imports": ["error", {
      "prefer": "no-type-imports"
    }]
  }
}
